.idea/
out
.DS_Store
Projekt.iml

/comparison/
/dictionaries/dictionary_categories_slim.json
/files/categories.txt
/files/filteredDictionary.txt
/files/namedEntityDictionary.txt
/files/skwiki.xml
/index/
/lemmatizer/
/output/
/sorted/
/out/